body {
		margin: 0;
		padding: 0;
		background-color: #2f363d;
	}

/*******header********/

#navbar {
	background-color: #FFD04D;
	height: 60px;
	font-family:'Righteous', cursive;;
	color: black;
	border-bottom: 3px solid #20252a;
}

#navbar #title {
	margin-left: 9px;
	line-height: 60px;
	text-align: left;
	display: inline;
	font-size: 30px;
}

#navbar #logout {
	text-align: right;
	display: inline;
	color: black;
	text-decoration: none;
	float: right;
	line-height: 60px;
	margin-right: 15px;
	font-size: 20px;
	font-weight: 200;
	font-family: 'Viga', sans-serif;
}

#navbar #logout:hover{
	color: #2B2B2B;
}

#small-text {
	font-size: 15px;
	padding-right: 4px;
}

/*****login page*******/

.register-box {
	width: 30%;
	background-color: #ECDFBD;
	margin: 10% auto;
	border: 4px solid #20252a;
	border-radius: 10px;
	text-align: center;
	color: black;
	font-family: 'Viga', sans-serif;
}

.register-box p {
	font-size: 30px;
	margin-bottom: 5px;
	margin-top: 18px;
}

.register-box div {
	display: block;
	margin: 5% auto;
}

.register-box label{
	display: inline-block;
	width: 85px;
}

.button-style {
	border: 1px solid #20252a;
	background-color: #A8A8A8;
	font-size: 9px;
	border-radius: 4px;
	float: right;
}

.button-style:focus {
	outline: none;
}

input.button-style {
	background-color: #FFD04D;
	font-size: 12px;
}

.register-box input[type="submit"] {
	font-family: 'Viga', sans-serif;
	font-size: 15px;
	border: 1px solid #333344;
	margin-top: 5px;
	border-radius: 5px;
}

.hidden{
	display: none!important;
}

/******home page********/

#online-users {
	display: inline-block;
	width: 12%;
	min-width: 150px;
	height: 400px;
	vertical-align: top;
	padding: 1% 2%;
	background-color: lightgray;
	border: 2px solid #20252a;
	margin: 3%;
	border-radius: 5px;
	font-family: 'Viga', sans-serif;
}

#online-users h4{
	font-family: 'Viga', sans-serif;
	text-align: center;
}

#online-users ul {
	padding-left: 0;
}

#online-users li{
	list-style-type: none;
	text-align: left;
	margin-top: 7px;
}

#online-users li a{
	color: #20457C;
	text-decoration: none;
	vertical-align: middle;
}

#online-users li a:hover{
	color: black;
}

.logo {
	background-color: #1BB287;
	background-size: 65px;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #20252a;
	border-radius: 50px;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

#ronnielogo {
	background-image: url('ronnie_cartoon.png');
}

#chat-section {
	display: inline-block;
	margin-top: 3%;
	width: 65%;
}

.chat-box {
	display: inline-block;
	width: 43%;
	background-color: white;
	padding: 4px;
	margin: 0 2%;
	font-family: 'Viga', sans-serif;
	border-radius: 5px;
	border: 3px solid #20252a;
	vertical-align: top;
}

.chat-box p {
	margin: 4px;
}

.end-chat {
	float: right;
	font-size: 10px;
	margin: 1%;
	border: none;
	background-color: white;
	outline: none;
	height: 17px;
	width: 17px;
	border-radius: 17px;
}

.end-chat:hover {
	background-color: #f55;
	color: darkgray;
}

.chat-label {
	padding-bottom: 3px;
	border-bottom: 1px dotted gray;
}


.log {
	overflow-y: scroll;
	height: 300px;
	font-family: 'Lato', sans-serif;
}

form.send-message {
	margin-bottom: 2px;
}

.send-message input[type="text"]{
	width: 83%;
	font-family: 'Lato', sans-serif;
	height:22px;
}

.send-message input[type="text"]:focus{
	outline: none;
}


.obj{
	width: 200px;
		}

.self-color{
	background-color: #ffe6a2;
}

.other-color {
	background-color: lightgrey;
}

.blurred {
	opacity: 0.4;
}

/*****************/

@media (max-width: 900px) {
	.button-style {
	  	font-size: 12px;
	  	margin-top: 5%;
	  	width: 100%;
  	}
	.send-message input[type="text"]{
		width: 100%!important;
	}

	.end-chat {
		margin: 2% 0;
	}

	.log {
		font-size: 13px;
	}
}