<html>
<head>
	<title>Online Instant Messaging Program</title>
	<link href='http://fonts.googleapis.com/css?family=Viga|Anton|Pacifico|Changa+One|Righteous|Chewy' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript" src="static/jsencrypt.js"></script>
	<link rel="stylesheet" type="text/css" href="static/main.css">

<body>
	<div id="navbar">
		<p id="title"><span id="small_text">Ain't Nothing But A</span>CHAT THANG</p>
		<a href="/logout" id="logout">Logout</a>
	</div>

	{% block body %}
	{% endblock %}
	
	

</body>
</html>