
	{% extends "base.html" %}
	{% block body %}

	<div id="online_users">
		<h4>Connected Users</h4>
		{% if users %}
			<ul>
			{% for user in users %}
				{% if user == 'AskRonnie' %}
				<li><div class='logo' id='ronnielogo'></div><a class="user_link" id="{{ user }}" href="#">{{ user }}</a></li>
				{% else %}
				<li><div class='logo'></div><a class="user_link" id="{{ user }}" href="#">{{ user }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		{% endif %}
	</div>

	<div id="chat_section">
	</div>



	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script>
	$(document).ready(function(){

		// sets the current user and current room
		var logged_in_user="{{ user }}";
		console.log(logged_in_user);
		var current_room = "";
		var user_private_key = null;
		var user_public_key = null;
		var other_public_key = null;


		// connect the socket
	    var socket = io.connect('http://' + document.domain + ':' + location.port + "/chat");


	    // joins the current user to their own personal room
		socket.emit(
				'join room', 
				{'username': logged_in_user, 
				 'room': logged_in_user
				});
		socket.emit('refresh connected users');
		console.log("The " + logged_in_user + " is being added to room:" + logged_in_user);

		// when a user's room receives a command
		socket.on('interpret command', function(data){
			var command = data.command
			var command_body = data.body
			var command_origin = data.origin

			// if that command is a J (for join), join them to the given room
			if(command == 'J'){
				console.log("join");
				var new_room = command_body
				socket.emit('join room', {'username': logged_in_user, 'room': new_room}); 
				$('#chat_box').removeClass("hidden");
				// establish that this new room is the room we're currently talking in
				current_room = new_room
			}
			// if the user receives a UL (update list) command, refresh their list of connected users
			if(command == 'UL'){
				$("#online_users").load("/refresh_users?user=" + logged_in_user);
			}

		});

		// when the current user clicks on a connected user
		$(document).on('click', '.user_link', function(event) {
			var user_to_talk_to = $(this).attr('id');
			// create a new room name for the two users to share

			if(user_to_talk_to < logged_in_user){
				var new_room = user_to_talk_to + logged_in_user;
			} 
			else {
				var new_room = logged_in_user + user_to_talk_to;
			}


			// send command to user_to_talk_to's room
			socket.emit('receive command', {'command': 'J', 'body':new_room, 'room': user_to_talk_to});
			// send command to logged_in_user's room
			socket.emit('receive command', {'command': 'J', 'body':new_room, 'room': logged_in_user});
			socket.emit('open chat', {'submitting': logged_in_user, 'receiving': user_to_talk_to, 'room': new_room});

		});

		socket.on('open chat box', function(event){
			console.log(event);
			if($("#" + event.chat_room).length === 0){
				console.log("The chatroom doesn't exist yet, add it");
				var html = event.template;
				$("#chat_section").append(html);
			}
			else {
				console.log("The chatroom already exists. Don't add it");
			}
			return false;
		});

		$(document).on('submit', 'form', function(event){
			event.preventDefault();
			var this_ = $(this)
			var chat_room = this_.parent(".chat_box").attr("id");
			console.log(chat_room);
			console.log(this_.serialize());
			var message = this_.find("input[name='message']").val();

			var ronnie = new RegExp('AskRonnie');
			if(ronnie.test(chat_room)){
				console.log("ronnie!");
				$("#" + chat_room + " div.log").append('<p>' + logged_in_user + ': ' + message + '</p>');
	    		$(".log").scrollTop($(".log")[0].scrollHeight);
	    		socket.emit("talk to ronnie", {'message': message, 'room': chat_room})
			}
			else{
			// console.log(this_.parent(".chat_box").attr("id"))
				socket.emit('message event', {data: message, 'room': chat_room});
			}
			this_.find("input[name='message']").val("");
		});

		// if the user closes the window, remove it from their DOM
		$(document).on('click', '.end_chat', function(event){
			// send a message telling the other user that the chat has been exited
			socket.emit("message event", {data: logged_in_user + " has left the chat.", 'room': $(this).parent(".chat_box").attr("id")});
			$(this).parent(".chat_box").remove();
			// remove the user from that joint room
		});



	    // when the user sends a message, relay that message to the server
	    // $('form#send_message').submit(function(event){
	    // 	event.preventDefault();
	    // 	socket.emit('my event', {data: $("#message").val(), 'room': current_room});
	    // 	$("#message").val("");
	    // });

	    // when the client gets that message back from the server,
	    // display it in the log
	    socket.on('message to display', function(response){
	    	var chat_room = response.room;
	    	// console.log($("#" + chat_room + " div.log"));
	    	$("#" + chat_room + " div.log").append('<p>' + response.user + ': ' + response.message + '</p>');
	    	$(".log").scrollTop($(".log")[0].scrollHeight);
	    });

	    socket.on('app message display', function(response){
	    	var chat_room = response.room;
	    	// if(chat_room.indexOf("AskRonnie" != -1)){
	    	// 	user_label = "Ronnie";

	    	$("#" + chat_room + " div.log").append('<p>' + response.message + '</p>');
	    	$(".log").scrollTop($(".log")[0].scrollHeight);
	    	$("#" + chat_room + " .send_message").addClass("encrypted");
	    });

		// when a user logs out, tell all users to fresh their conencted list
		$(document).on('click', '#logout', function(event){
			socket.emit('refresh connected users');			
		});

		$(document).on('click', '.get_phone', function(event){
			event.preventDefault();
			alert("woohoo!");
			num = prompt("Please enter your phone number", "(xxx)xxx-xxxx")
			var href = $(this).attr('href') + num;
			console.log(href);
			$.get(href);
			
			// $(this).attr('href', href);
		});

		


		





	});
	</script>

	{% endblock %}

