
{% extends "base.html" %}
{% block body %}


<div class="register-box" id="login_box">
	<p>Login</p>
	<form id="login_form" action="/set_session">
		<div>
			<label for="user">Username</label>
			<input type="text" name="user" id="user">
		</div>
		<div>
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
		</div>
		<div>
			<input type="submit">
		</div>
	</form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		// $("#logout").addClass("hidden");
		$("#logout").attr("href", "/signup_form").html("Sign Up");
	});
</script>

{% endblock %}
	
